<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Verificación de Correo</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; color-scheme: light only; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #000000;">
    <tr>
      <td align="center" style="padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="650" style="background-image: url('https://cdn.slyfox.com.co/backgrounds/background-email-verify.png'); background-repeat: no-repeat; background-size: 100% 100%;">
          <tr>
            <td align="center" style="padding: 50px;">
              <table border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 30px;">
                <tr>
                  <td align="center" width="140" height="50" style="background-image: url('https://cdn.slyfox.com.co/logos/logo-slyfox.png'); background-repeat: no-repeat; background-size: 100% 100%;">
                    &nbsp;
                  </td>
                </tr>
              </table>

              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 30px;">
                <tr>
                  <td align="center" style="font-size: 30px; font-weight: 700; color: #1d2129; line-height: normal; letter-spacing: -0.127px; margin: 0;">
                    Estás a un paso de empezar esta Experiencia!
                  </td>
                </tr>
              </table>

              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 30px;">
                <tr>
                  <td align="center">
                    <p style="color: #000000; font-size: 12px; font-weight: 400; line-height: normal; margin: 0 0 30px 0;">
                      Gracias por registrarte. Solo necesitamos verificar que este correo es tuyo.
                      Haz clic en el botón de abajo para activar tu cuenta y comenzar a disfrutar de soluciones hechas a tu medida
                    </p>
                    <p style="color: #000000; font-size: 12px; font-weight: 400; line-height: normal; margin: 0;">
                      Tu seguridad es importante para nosotros. <strong>Este enlace es único, seguro y expirará en 24 horas</strong>
                    </p>
                  </td>
                </tr>
              </table>

              <table border="0" cellpadding="0" cellspacing="0" style="margin-top: 30px;">
                <tr>
                  <td align="center" bgcolor="#6816EE" style="border-radius: 8px;">
                    <a href="{{url}}" target="_blank" style="display: inline-block; padding: 10px 20px; width: 207px; color: #ffffff; font-size: 16px; text-decoration: none;">
                      Verificar
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
